<div class="table-responsive small container">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Contact No</th>
          <th scope="col">Address</th>
          <th scope="col">NIC</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let barrowers of barrowersList">
          <td >{{barrowers.bid}}</td>
          <td>{{barrowers.barrower_name}}</td>
          <td>{{barrowers.contact_no}}</td>
          <td>{{barrowers.address}}</td>
          <td>{{barrowers.nic}}</td>
          <td><button  data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-danger"><i class="bi bi-archive"></i></button></td>
          <td><button  class="btn btn-primary"  data-bs-toggle="modal" data-bs-target="#updatemodel" ><i class="bi bi-pencil-square"></i></button></td>
          
        </tr>
      </tbody>
    </table>
  </div>